<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <app-nav-dashboard (addItem)="addItem()"></app-nav-dashboard>
    </mat-drawer>

    <mat-drawer-content class="sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">Toggle sidenav</button>
        <button type="button" mat-button (click)="resetItens()">Reset Itens</button>
        <button type="button" mat-button (click)="clear()">Clear</button>
        <gridster [options]="options">
            <gridster-item *ngFor="let item of posts" [item]="item.layout">
                <mat-toolbar color="secondary">
                    <span>{{item.title}}</span>
                    <span class="spacer"></span>
                    <mat-icon (click)="deleteItem(item.id)">close</mat-icon>
                </mat-toolbar>
                <div [innerHtml]="item.html"></div>
            </gridster-item>
        </gridster>
    </mat-drawer-content>

</mat-drawer-container>