<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <app-nav-dashboard (addItem)="addItem()"></app-nav-dashboard>
    </mat-drawer>

    <mat-drawer-content class="sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
        <button type="button" mat-button (click)="resetItens()">
      Reset Itens
    </button>
        <gridster [options]="options">
            <gridster-item *ngFor="let item of posts" [item]="item.layout">
                <p>
                    <mat-toolbar color="primary">
                        <span>{{item.title}}</span>
                        <span class="spacer"></span>
                        <mat-icon (click)="deleteItem(item.id)">close</mat-icon>
                    </mat-toolbar>
                </p>
                <div [innerHtml]="item.html"></div>
            </gridster-item>
        </gridster>
    </mat-drawer-content>

</mat-drawer-container>